<div class="row">
  <div class="col">
    <h1>Edit a transaction</h1>
  </div>
</div>

<div class="row">
  <div class="col">
    <% if @transaction.errors.any? %>
      <div id="error_explanation">
        <h2>There were some errors:</h2>
        <ul>
          <% @transaction.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= render 'form' %>
  </div>
</div>
